@import 'tailwindcss';
@import '@porsche-design-system/components-react/tailwindcss';

html, body, #root {
  height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.18) transparent;
}

.rounded-2xl {
  border-radius: 0.6rem !important;
}

.rounded-xl {
  border-radius: 0.45rem !important;
}

.rounded-lg {
  border-radius: 0.3rem !important;
}

.rounded-md {
  border-radius: 0.225rem !important;
}

.rounded-full {
  border-radius: 0.6rem !important;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.24);
  border: 2px solid transparent;
  background-clip: content-box;
}
